:root{
    --componentBGC: #202b3b;
}
.App{
    padding: 10px;
    background-color: #0b131e;
    height: 100vh;
    color: #7f8690;
    display: grid;
    grid-template-areas: 'nav search .'
                         'nav glance week'
                         'nav today week'
                         'nav air week';
    grid-template-columns: 8% 60% auto;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
}

.app-item:nth-child(1){
    grid-area: search;
}
.app-item:nth-child(2){
    grid-area: nav;
}
.app-item:nth-child(3){
    grid-area: glance;
}
.app-item:nth-child(4){
    grid-area: today;
}
.app-item:nth-child(5){
    grid-area: air;
}
.app-item:nth-child(6){
    grid-area: week;
}
