:root{
    --componentBGC: #202b3b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    padding: 20px;
    background-color: #0b131e;
    height: 100vh;
    color: #7f8690;
    display: grid;
    grid-template-areas: 'nav search .'
                         'nav glance week'
                         'nav today week'
                         'nav air week';
    grid-template-columns: 0.1fr 1.5fr 0.8fr;
    grid-template-rows: 0.2fr 0.8fr 1fr 1fr;
    gap: 20px;
    font-family: 'Secular One', sans-serif;
}

.app-item:nth-child(1){
    grid-area: search;
}
.app-item:nth-child(2){
    grid-area: nav;
}
.app-item:nth-child(3){
    grid-area: glance;
}
.app-item:nth-child(4){
    grid-area: today;
}
.app-item:nth-child(5){
    grid-area: air;
}
.app-item:nth-child(6){
    grid-area: week;
}
.app-item{
    padding: 20px;
}